<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <form (submit)="addTask()">
        <h2> Welcome {{name}}</h2>
        <br>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" [(ngModel)]="title" name="titre" placeholder="titre ici" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Time</label>
          <input type="datetime-local" [(ngModel)]="time" name="temps" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
      <br><br>
      <button class="btn btn-danger" (click)="deconnect()">déconnexion</button>
      <br>

    </div>
    <div class="col">

    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
    <th>#</th>
    <th>Task</th>
    <th>time</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let index=index">
      <td>{{index+1}}</td>
      <td>
        {{task.title}}
      </td>
      <td>
        {{task.time}}
      </td>
      <td>
        <a class="btn btn-success" (click)="goToSecond(index)">go to details</a>
      </td>
      </tr>
  </tbody>


</table>
